@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.welcome 
		.h1
			font-size: 58px

	.s
		&-king, &-review, &-partners
			padding: 8% 0
		&-call
			background-size: cover

@media only screen and (max-width: 1100px)
	.carousel-servises-item
		flex-direction: column

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.welcome 
		.h1
			font-size: 42px

	.s-call
		&::before
			width: 100%
		.callback
			padding: 12% 0


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	.header-contacts 
		.phone-h
			text-align: left

	.quotes
		display: none

	.partners
		.owl-nav
			> div
				&.owl-prev
					left: 0
				&.owl-next
					right: 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/