@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	&.ishome
		.site-header
			min-height: 750px
			height: 100vh
			background-color: #121212
			.top-line
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1
.logo
	img
		width: 135px
		height: auto
		margin-left: 40px
.phone
	position: absolute
	right: 85px
	top: 37px
	font-size: 22px
	white-space: nowrap
	color: #fff
	.fa
		color: #555
		font-size: 22px
		margin-right: 20px




section, header
	position: relative
	background-size: cover
	background-repeat: no-repeat
	background-position: center

section
	background-color: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto

.hamburger
	position: absolute
	right: 0
	top: 28px
	.hamburger-box
		width: 34px
		.hamburger-inner, 
		.hamburger-inner:after, 
		.hamburger-inner:before
			width: 34px
			height: 2px
			border-radius: 0
			background-color: #fff
			color: #fff

.mm-navbar
	height: auto
	position: relative
	border: none
	.mm-title
		padding: 0
		img
			width: 135px
			height: auto
			margin: 10px 0 35px

html .mm-opened
	overflow-y: scroll

//.mm-panels, 
.mm-panels > .mm-panel
	right: -18px

.mm-panels > .mm-panel::after, 
.mm-panels > .mm-panel::before
	height: 0

.mm-panels > .mm-panel > .mm-listview:first-child, 
.mm-panels > .mm-panel > .mm-navbar + .mm-listview
	margin-top: 0


@import "media"
